<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
    <variable name="logDirectory" value="${basedir}/Logs/"/>
    <variable name="logLayout"
              value="${longdate} | ${level:uppercase=true} | ${processid} | ${logger:uppercase=true} | ${message} ${onexception:${newline}${trim-whitespace:trimWhiteSpace=true:inner=${exception:format=ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=ToString,StackTrace}}}"/>


    <targets>
        <target name="console"
                xsi:type="ColoredConsole"
                layout="${logLayout}"/>

        <target name="All"
                xsi:type="File"
                fileName="${logDirectory}/mainLog.log"
                archiveFileName="${logDirectory}/Archive/mainLog_{#}.log"
                archiveNumbering="DateAndSequence"
                maxArchiveFiles="10"
                archiveAboveSize="10485760"
                archiveDateFormat="yyyy_MM_dd_HH_mm_ss"
                encoding="UTF-8"
                layout="${logLayout}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="console"/>
        <logger name="*" minlevel="Info" writeTo="All"/>
    </rules>

</nlog>