<div class="m-1">
    <Badge Color="@(IsDevice ?? false ? Color.Success : Color.Danger)">
        @if (IsDevice ?? false)
        {
            <Icon Name="IconName.Check" aria-label="Confirmed"/>
        }
        else
        {
            <Icon Name="IconName.Times" aria-label="Cancelled"/>
        }
    </Badge> <Text>@Name</Text>
</div>

@code {

    [Parameter, EditorRequired]
    public string Name { get; set; }
    
    [Parameter, EditorRequired]
    public bool? IsDevice { get; set; }

}