@using Constants = TypingMaster.Constants
@inherits LayoutComponentBase

<PageTitle>@Constants.AppFriendlyName</PageTitle>

<Layout>
    <LayoutHeader>
        <NavMenu/>
    </LayoutHeader>
    <LayoutContent>
        <Div Class="Container" Height="Height.Is100" Width="Width.Is100">
            @Body
        </Div>
    </LayoutContent>
    <LayoutFooter TextAlignment="TextAlignment.Center">
        <Text TextColor="TextColor.Secondary" TextAlignment="TextAlignment.Center">
            <Divider TextColor="TextColor.Secondary"/>
            Copyright © @DateTime.Today.Year KorTym
        </Text>
    </LayoutFooter>
</Layout>