@inherits LayoutComponentBase


<Layout>
    <LayoutContent>
        <div class="container h-100 w-100 d-flex align-items-center justify-content-center">
            <figure class="figure">
                <img src="logo.png" alt=""/>
                <figcaption class="figure-caption">
                    <h1>Przepraszamy, pod tym adresem nic nie ma.</h1>
                </figcaption>
            </figure>
        </div>
    </LayoutContent>
</Layout>