@inherits LayoutComponentBase

<PageTitle>@Localizer["TypingMaster"]</PageTitle>

<Layout>
    <LayoutHeader>
            <h4 class="mb-0 w-100 text-center">@Localizer["TypingMaster"]</h4>
    </LayoutHeader>
    <LayoutContent Class="Container" Height="Height.Is100" Width="Width.Is100">
        @Body
    </LayoutContent>
    <LayoutFooter TextAlignment="TextAlignment.Center">
        <Text TextColor="TextColor.Secondary" TextAlignment="TextAlignment.Center">
            <Divider TextColor="TextColor.Secondary"/>
            Copyright © @DateTime.Today.Year KorTym
        </Text>
    </LayoutFooter>
</Layout>