@using Constants = TypingMaster.Shared.Constants
@inherits LayoutComponentBase

<PageTitle>@Constants.AppFriendlyName</PageTitle>

<Layout>
    <LayoutHeader>
        <div class="d-flex w-100 align-items-center">
            <div class="w-100"></div>
            <div class="w-100 d-flex justify-content-center align-items-center">
                <Image src="logo.png" style="height: 5vh; min-height: 40px"/>
            </div>
            <div class="w-100 d-flex justify-content-end align-items-center">
                <SelectLanguage/>
            </div>
        </div>

    </LayoutHeader>
    <LayoutContent Class="Container" Height="Height.Is100" Width="Width.Is100">
        @Body
    </LayoutContent>
    <LayoutFooter TextAlignment="TextAlignment.Center">
        <Text TextColor="TextColor.Secondary" TextAlignment="TextAlignment.Center">
            <Divider TextColor="TextColor.Secondary"/>
            Copyright © @DateTime.Today.Year KorTym
        </Text>
    </LayoutFooter>
</Layout>