html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    height: 100vh;
    width: 100vw;
}

body {
    background: linear-gradient(to bottom, darkgray 0%, #ffffff 100%)
}