@page "/"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TypingMaster.Shared
@using TypingMaster.UI

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@Constants.AppFriendlyName</title>
    <base href="~/"/>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet"/>
    <link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet"/>
    <link href="_content/Blazorise.SpinKit/blazorise.spinkit.css" rel="stylesheet"/>
    <link href="css/site.css" rel="stylesheet"/>
</head>
<body>
<app>
    <component type="typeof(App)" render-mode="Server"/>
</app>

<script src="_framework/blazor.server.js"></script>
<script>
    new MutationObserver((mutations, observer) => {
        if (document.querySelector('#components-reconnect-modal h5 a')) {
            async function attemptReload() {
                await fetch('');
                location.reload();
            }

            observer.disconnect();
            attemptReload();
            setInterval(attemptReload, 10000);
        }
    }).observe(document.body, { childList: true, subtree: true });
</script>
<script>
window.navigator.userAgent = function() {
    return navigator.userAgent;
}
</script>
</body>
</html>