@page "/TypingTests"
@page "/"

@inject ApiClient ApiClient
<PageTitle>Test</PageTitle>

<div class="container-fluid d-flex flex-column align-items-center">
    <div class="d-flex justify-content-center">
        <h5>Wybierz test</h5>
    </div>
    <div class="d-flex align-items-center justify-content-center flex-wrap p-1">
        @foreach (var typingLevel in _typingLevels)
        {
            @GetButton(typingLevel)
        }
    </div>
    <div class="d-flex justify-content-center">
        <p class="text-danger mx-1">Uwaga!</p>
        <p class="text-secondary mx-1">Długość testu wpływa na jego poziom trudności</p>
    </div>
    <div class="container-fluid d-flex justify-content-center">
        <TestRankingComponent @ref="_testRankingComponent"/>
    </div>
</div>

<TestComponent @ref="_testModalRef"/>
<PleaseWaitPopup @ref="_pleaseWaitPopupRef"/>

@code
{
    private ICollection<TypingLevelDto> _typingLevels = new List<TypingLevelDto>();

    private TestComponent _testModalRef = default!;
    private PleaseWaitPopup _pleaseWaitPopupRef = default!;
    private TestRankingComponent _testRankingComponent = default!;

    protected override async Task OnInitializedAsync()
    {
        _typingLevels = await ApiClient.GetAllTypingLevels() ?? new List<TypingLevelDto>();
        await base.OnInitializedAsync();
    }

    private async Task StartTest(TypingLevelDto typingLevel)
    {
        await _testModalRef.ShowAndWaitForResult(typingLevel);
    //await _testTableComponent.Refresh();
    }

    private RenderFragment GetButton(TypingLevelDto typingLevel) =>
        @<button
             type="button"
             class="@GetButtonClass(typingLevel)"
             @onclick="() => StartTest(typingLevel)"
             @key="typingLevel">
            @typingLevel.Name
        </button>;

    private static string GetButtonClass(TypingLevelDto type)
    {
        var baseClass = type.DifficultyLevel switch
        {
            1 => "btn btn-primary",
            2 => "btn btn-secondary",
            3 => "btn btn-success",
            4 => "btn btn-warning",
            5 => "btn btn-danger",
            _ => "btn btn-primary"
            };

        return $"{baseClass} m-1";
    }

}