@implements IDisposable
@inject ICultureContext CultureContext
@inject LanguageService LanguageService


<button class="btn btn-outline-dark dropdown-toggle border-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <SelectLanguageAnimate/>
</button>

<ul class="dropdown-menu dropdown-menu-end text-white bg-dark bg-opacity-75" aria-labelledby="dropdownMenuButton">
    @foreach (var language in _avaiableCultures)
    {
        <li>
            <a class="dropdown-item text-white" @onclick="() => SetLanguage(language.Name)">
                <div class="@($"btn flag-icon flag-icon-{language.TwoLetterISORegionName().ToLower()} h-75 w-25")"/> @language.LanguageName()
            </a>
        </li>
    }
</ul>

@code{
    private CultureInfo _currentCulture = CultureConstants.DefaultCulture;
    private CultureInfo[] _avaiableCultures = Array.Empty<CultureInfo>();

    private bool _isChanging;

    protected override Task OnInitializedAsync()
    {
        _currentCulture = CultureContext.CurrentCulture;
        _avaiableCultures = CultureContext.SupportedCultures.Where(language => _currentCulture.Name != language.Name).ToArray();
        return base.OnInitializedAsync();
    }

    private async Task SetLanguage(string languageCountryCode)
    {
        if (_isChanging)
            return;

        _isChanging = true;
        await InvokeAsync(() =>
        {
            LanguageService.SetLanguage(languageCountryCode);
            return Task.CompletedTask;
        });
    }

    public void Dispose()
    {
        _isChanging = false;
    }

}