<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
    <variable name="logDirectory" value="${basedir}/../../logs/${shortdate}/"/>
    <variable name="logLayout"
              value="${time}${date:zzz} | ${level:uppercase=true} | ${logger:shortName=true} | ${message} ${onexception:${newline}${trim-whitespace:trimWhiteSpace=true:inner=${exception:format=ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=ToString,StackTrace}}}"/>

    <targets>
        <target name="console"
                xsi:type="ColoredConsole"
                layout="${logLayout}"/>

        <target name="File"
                xsi:type="File"
                fileName="${logDirectory}/${date:format=yyyyMMdd}.log"
                archiveFileName="${logDirectory}/Archive/${shortdate}_${time}.log"
                archiveNumbering="DateAndSequence"
                maxArchiveFiles="10"
                archiveAboveSize="104857600"
                encoding="UTF-8"
                layout="${logLayout}"/>
    </targets>

    <rules>
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Trace" writeTo="File, Console" final="true"/>
        <logger name="Microsoft.*" maxlevel="Info" final="true"/>
        <logger name="System.Net.Http.*" maxlevel="Info" final="true"/>
        <logger name="*" minlevel="Trace" writeTo="File, Console"/>
    </rules>

</nlog>