@inject ApiClient ApiClient

<Modal @ref="_modalRef" Shadow="Shadow.Default">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>@_title</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <TestStatisticTableComponent Test="_test" TestRanking="_testRanking"/>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="@Hide">Zamknij</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    private Modal _modalRef = default!;
    private TypingTestDto? _test;
    private string _title = string.Empty;
    private long _testRanking;


    public async Task Show(TypingTestDto? test)
    {
        if (test == null)
            return;

        _test = test;
        _testRanking = await ApiClient.GetTestRanking(test.Id);
        _title = $"Gratulacje {_test.ExecutorName}! Twoje statystki:";
        await InvokeAsync(StateHasChanged);
        await _modalRef.Show();
    }

    public async Task Hide() => await _modalRef.Hide();
}