@inject ApiClient ApiClient
<Modal @ref="_modalRef" Shadow="Shadow.Default" Closed="@OnClosed">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>
                   @_test?.ExecutorName
            </ModalTitle>
        </ModalHeader>
        <ModalBody>
            <TestStatisticTableComponent Test="_test"/>
        </ModalBody>
        <ModalFooter>
            <Button Color="@Color.Primary" Clicked="@Hide">Zamknij</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {

    private Modal _modalRef = default!;
    private TypingTestDto? _test;
    private string _title = string.Empty;

    public async Task Show(TypingTestDto? test)
    {
        if (test == null)
            return;
        
        _test = test;
        
        await _modalRef.Show();
    }

    public async Task Hide()
    {
        await _modalRef.Hide();
    }

    private async Task OnClosed()
    {
        _title = string.Empty;
        _test = null;
        await InvokeAsync(StateHasChanged);
    }
}