
<Modal @ref="_modalRef" Shadow="Shadow.Default">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>@_title</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <TestStatisticTableComponent Test="_test"/>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="@Hide">Zamknij</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    private Modal? _modalRef;
    private TypingTestDto? _test;
    private string _title = string.Empty;

    public async Task Show(TypingTestDto? test)
    {
        if (test == null)
            return;

        _test = test;
        _title = $"Gratulacje {_test.ExecutorName}! Twoje statystki:";
        await InvokeAsync(StateHasChanged);
        _modalRef?.Show();
    }

    public Task Hide()
    {
        _modalRef?.Hide();
        return Task.CompletedTask;
    }

}